.header {
  margin-top: 16px;
  z-index: 2;
  width: 100%;
  position: fixed;

  @media screen and (max-width: 1151px) {
    margin-top: 0;
    position: relative;
  }
}

.container {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(31, 52, 62, 0.16) 0px 0px 8px 0px;
  padding: 12px 32px;
  max-width: 1080px;
  max-height: 64px;
  display: flex;
  gap: 3.2rem;
  align-items: center;
  margin: 0 auto;

  @media screen and (max-width: 1151px) {
    box-shadow: none;
    border-radius: 0;
    padding: 16px;
    justify-content: space-between;
    max-width: unset;
  }
}

.navItems {
  display: flex;
}

.navLink {
  padding: 0.8rem 1.6rem;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navAnchor {
  text-decoration: none;
  cursor: pointer;
}

.burger {
  border: 0;
  background: none;
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgerIcon {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}
.burgerIcon span {
  position: absolute;
  left: 4px;
  width: 24px;
  height: 3px;
  background: #222;
  border-radius: 2px;
  transition: all 0.32s cubic-bezier(0.45, 0.03, 0.52, 0.96);
}
.burgerIcon span:nth-child(1) {
  top: 8px;
}
.burgerIcon span:nth-child(2) {
  top: 14px;
}
.burgerIcon span:nth-child(3) {
  top: 20px;
}

.burgerOpen .burgerIcon span:nth-child(1) {
  top: 14px;
  transform: rotate(45deg);
}
.burgerOpen .burgerIcon span:nth-child(2) {
  opacity: 0;
}
.burgerOpen .burgerIcon span:nth-child(3) {
  top: 14px;
  transform: rotate(-45deg);
}
